################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/SnakeGame/FileContentIndex/d74ce141-10c7-4cfb-b830-f36afe05d7df.vsidx
/.vs/SnakeGame/FileContentIndex/7d00f2bc-3db6-49df-b66e-0736bd2dc31b.vsidx
