################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/SnakeGame/FileContentIndex/d74ce141-10c7-4cfb-b830-f36afe05d7df.vsidx
